.sticky-top 
  nav#navbar-top.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href="/") HSB Tools
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
              | Calculators
            ul.dropdown-menu
              li
                a.dropdown-item(href="/calculators/magicfind") Magic Find

          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
              | Lists
            ul.dropdown-menu
              li
                a.dropdown-item(href="/lists/sacks") Sacks
              li
                a.dropdown-item(href="/lists/enigma") Enigma Souls
      if user
        .dropdown
          button#userDropdown.btn.btn-dark.dropdown-toggle.d-flex.align-items-center(type='button', data-bs-toggle='dropdown', aria-expanded='false')
            img.rounded-circle.me-2(src=user.avatarUrl || '/images/default_avatar.png' alt='avatar' width='32' height='32')
            span.ms-1 #{user.name}
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='userDropdown')
            li
              a.dropdown-item(href='/' + user.name + '/profile') Profile
            li
              hr.dropdown-divider
            li
              button#logout-btn.dropdown-item(type='button') Logout
      else
        button#modal-login-button.btn.btn-outline-info.my-2.my-sm-0(
          type='button',
          data-bs-toggle='modal',
          data-bs-target='#modal-login-signup'
        ) Log In / Sign Up